{% load static %}  
  <!doctype html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/fav.ico' %}">
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <title>Hello, world!</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
      
      <body data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0">
        <div id="websitewrap">
      
      
      
          <a href="https://api.whatsapp.com/send?phone=7012707281&amp;text=Hello" target="_blank" class="whatsapp-iconbtn"><i
      
              class="fab fa-whatsapp"><img class="wtp" src="{% static 'image/whatsapp.png' %}"> </i></a>
      
      
      
          <div class="header-fixed-wrap f-nav">
      
            <div class="container-fluid">
      
              <div class="row">
      
                <div class="col-lg-3 col-md-4 col-sm-4 col-5">
      
                  <a href="#home" class="nav-link js-scroll-trigger"><img src="{% static 'image/omega-els-logo.png' %}" alt="logo"></a>
      
                </div>
      
                <div class="col-lg-6 col-md-4 col-sm-4 col-1">
      
                  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
      
                      <i class="fas fa-bars"></i>
      
                    </button>
      
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
                      <ul class="navbar-nav mr-auto justify-content-center">
      
                        <li class="nav-item home-menu"><a class="nav-link js-scroll-trigger" href="#home">Home</a></li>
      
                        <li class="nav-item"><a class="nav-link js-scroll-trigger text-dark" href="#ourservices">Our Services</a></li>
      
                        <li class="nav-item"><a class="nav-link js-scroll-trigger text-dark" href="#aboutus">About Us</a></li>
      
                        <li class="nav-item"><a class="nav-link js-scroll-trigger text-dark" href="#testimonials">Testimonials</a></li>
      
                        <li class="nav-item home-menu"><a class="nav-link js-scroll-trigger" href="#contactus">Contact Us</a>
      
                        </li>
      
                      </ul>
      
      
      
                    </div>
      
                  </nav>
      
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4  col-6">
      
                  <a href="#contactus" class="js-scroll-trigger register">Contact Us</a>
      
                </div>
      
              </div>
      
            </div>
      
          </div>
      
         <div class="sidebar-red">
      
            <span>
      
              <a href="https://www.facebook.com/profile.php?id=100086505646959" target="_blank"><i
      
                  class="fab fa-facebook-f"><img src="{% static 'image/facebook.png' %}"></i></a>
      
              <a href=""><i class="fab fa-twitter"><img src="{% static 'image/twitter.png' %}"></i></a>
      
              <a href="https://www.instagram.com/elayne.digital" target="_blank"><i class="fab fa-instagram">
                <img src="{% static 'image/instagram.png' %}">
              </i></a>
      
            </span>
      
          </div>
          <section id="home" class="banner-wrapper">
            <button class="play-button pulse-btn"><i class="fas fa-play"><img src="{% static 'image/icons8-play-48.png' %}"> </i></button>
      
            <a href="#home" class="omegalogo nav-link js-scroll-trigger"><img src="{% static 'image/omega-els-logo.png' %}" alt="logo"></a>
      
            <div class="container-fluid banner-wrapper">
      
              <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel"
      
                data-pause="false">
      
                <div class="carousel-inner">
      
      
      
                  <div class="carousel-item active">
      
                    <div class="row">
      
                      <div class="col-lg-6 carousel-captioncon">
      
                        <div class="banner-captiondiv">
      
                          <h2>Transform <br>your Business to <br>Next Level</h2>
      
                         <!-- <h5><font>Innovate</font>  <font>Connect</font>  <font>Inspire</font></h5>-->
      
                          <a class="js-scroll-trigger" href="#ourservices">Get Started</a>
      
                        </div>
      
                      </div>
                      <div class="col-lg-6 carousel-wrap"
      
                      style="background: url({% static 'image/slider-01.webp' %}) !important; background-size:cover !important; background-repeat: no-repeat !important; ">
      
      
      
                    </div>
      
                  </div>
      
                </div>
                <div class="carousel-item">
      
                  <div class="row">
      
                    <div class="col-lg-6 carousel-captioncon">
      
                      <div class="banner-captiondiv">
      
                      <h2 class="hd2">Transform <br>your Business <br>to Next Level</h2>
      
                      <!--  <h5><font>Innovate</font>  <font>Connect</font>  <font>Inspire</font></h5>-->
      
                        <a class="js-scroll-trigger" href="#ourservices">Get Started</a>
      
                      </div>
      
                    </div>
                    
                    <div class="col-lg-6 carousel-wrap"
      
                    style="background: url({% static 'image/slider-02.jpg' %}) !important; background-size:cover !important; background-repeat: no-repeat !important; ">
      
      
      
                  </div>
      
                </div>
      
              </div>
              <div class="carousel-item">
      
                <div class="row">
      
                  <div class="col-lg-6 carousel-captioncon">
      
                    <div class="banner-captiondiv">
      
                    <h2>Transform <br>your Business <br>to Next Level</h2>
      
                      <!--<h5><font>Innovate</font>  <font>Connect</font>  <font>Inspire</font></h5>-->
      
                      <a class="js-scroll-trigger" href="#ourservices">Get Started</a>
      
                    </div>
      
                  </div>
                  <div class="col-lg-6 carousel-wrap"
      
                  style="background: url({% static 'image/slider-03.jpg' %}) !important; background-size:cover !important; background-repeat: no-repeat !important; ">
      
      
      
                </div>
      
              </div>
      
            </div>
      
      
          </div>
      
        </div>
      
      </div>
      
      </section>

      <section id="ourservices" class="ourcourse-wrap pt-5 pb-5">

        <h2 class="page-headings aos-init aos-animate" data-aos="fade-up" data-aos-delay="20">Our Services</h2>
      
        <div class="container-fluid tabbed-scroll">
          <div class="row">
              <div class="col-12 text-right">
                  <a class="btn  mb-3 mr-1" href="#carouselExampleIndicators2" role="button" 
                  onclick="prevCarouselItem()"  data-slide="prev">
                      <i class="fa fa-arrow-left"><img src="{% static 'image/icons8-left-24.png' %}"></i>
                  </a>
                  <a class="btn  mb-3 mr-1" href="#carouselExampleIndicators2" role="button" 
                  onclick="nextCarouselItem()"  data-slide="next">
                      <i class="fa fa-arrow-right"><img src="{% static 'image/icons8-right-24.png' %}"></i>
                  </a>
              </div>
              <div class="col-12">
                  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
      
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                  <div class="card">
                                      <a href="" data-toggle="modal" data-target="#digital-marketing" tabindex="-1">
      
                                          <span>
                              
                                            <p></p>
                              
                                            <img src="{% static 'image/digital-marketing.jpg' %}" alt="Digital Marketing">
                              
                                          </span>
                              
                                          <h5>Digital Marketing</h5>
                              
                                          <font>Read More</font>
                              
                                        </a>
      
                                  </div>
                              </div>
                              <div class="col-md-3 mb-3">
                                  <div class="card">
                                      <a href="" data-toggle="modal" data-target="#testing-services" tabindex="-1">
      
                                          <span>
                              
                                            <p></p>
                              
                                            <img src="{% static 'image/product-development.jpg' %}" alt="Testing Services">
                              
                                          </span>
                              
                                          <h5>Testing Services</h5>
                              
                                          <font>Read More</font>
                              
                                        </a>
                                      </div>
                                  </div>
                                  <div class="col-md-3 mb-3">
                                      <div class="card">
                                          <a href="" data-toggle="modal" data-target="#mobileapp-development" tabindex="-1">
      
                                              <span>
                                  
                                                <p></p>
                                  
                                                <img src="{% static 'image/mobileapp-development.jpg' %}" alt="Testing Services">
                                  
                                              </span>
                                  
                                              <h5>Mobile App Development</h5>
                                  
                                              <font>Read More</font>
                                  
                                            </a>
                                      </div>
                                  </div>
                                  <div class="col-md-3 mb-3">
                                      <div class="card">
                                          <a href="" data-toggle="modal" data-target="#web-development" tabindex="-1">
      
                                              <span>
                                  
                                                <p></p>
                                  
                                                <img src="{% static 'image/website-development.jpg' %}" alt="Testing Services">
                                  
                                              </span>
                                  
                                              <h5>Web Development</h5>
                                  
                                              <font>Read More</font>
                                  
                                            </a>
      
                                      </div>
                                  </div>
                                  
      
                              </div>
                          </div>
                          <div class="carousel-item">
                            <div class="row">
                              <div class="col-md-3 mb-3">
                                <div class="card">
                                <a href="" data-toggle="modal" data-target="#digital-transformation" tabindex="0">
      
                                  <span>
                      
                                    <p></p>
                      
                                    <img src="{% static 'image/web-mobile-development.jpg' %}" alt="Digital Transformation">
                      
                                  </span>
                      
                                  <h5>Digital Transformation</h5>
                      
                                  <font>Read More</font>
                      
                                </a>
                                </div>
                             </div>
                             
                                  <div class="col-md-3 mb-3">
                                      <div class="card">
                                          <a href="" data-toggle="modal" data-target="#enabling-startups" tabindex="-1">
      
                                              <span>
                                  
                                                <p></p>
                                  
                                                <img src="{% static 'image/agile-transformation.jpg' %}" alt="Enabling Start Ups">
                                  
                                              </span>
                                  
                                              <h5>Enabling Start Ups</h5>
                                  
                                              <font>Read More</font>
                                  
                                            </a>
                                      </div>
                                  </div>
                                  <div class="col-md-3 mb-3">
                                    <div class="card">
                                        <a href="" data-toggle="modal" data-target="#agile-transformation" tabindex="0">
      
                                            <span>
                                
                                              <p></p>
                                
                                              <img src="{% static 'image/agiletransformation.jpg' %}" alt="Agile Transformation">
                                
                                            </span>
                                
                                            <h5>Agile Transformation</h5>
                                
                                            <font>Read More</font>
                                
                                          </a>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                  <div class="card">
                                          <a href="" data-toggle="modal" data-target="#hire-developer" tabindex="0">
                                
                                            <span>
                                
                                              <p></p>
                                
                                              <img src="{% static 'image/hire-developer.jpg' %}" alt="Hire a Developer">
                                
                                            </span>
                                
                                            <h5>Hire a Developer</h5>
                                
                                            <font>Read More</font>
                                
                                          </a>
                                
                                        
                                  </div>
                              </div>
                             
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="row">
                                  <div class="col-md-3 mb-3">
                                      <div class="card">
                                          <a href="" data-toggle="modal" data-target="#it-outsourcing" tabindex="-1">
      
                                              <span>
                                  
                                                <p></p>
                                  
                                                <img src="{% static 'image/itoutsourcing.jpg' %}" alt="IT Outsourcing">
                                  
                                              </span>
                                  
                                              <h5>IT Outsourcing</h5>
                                  
                                              <font>Read More</font>
                                  
                                            </a>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                  <div class="card">
                                      <a href="" data-toggle="modal" data-target="#digital-marketing" tabindex="-1">
      
                                          <span>
                              
                                            <p></p>
                              
                                            <img src="{% static 'image/digital-marketing.jpg' %}" alt="Digital Marketing">
                              
                                          </span>
                              
                                          <h5>Digital Marketing</h5>
                              
                                          <font>Read More</font>
                              
                                        </a>
      
                                  </div>
                              </div>
                              <div class="col-md-3 mb-3">
                                  <div class="card">
                                      <a href="" data-toggle="modal" data-target="#testing-services" tabindex="-1">
      
                                          <span>
                              
                                            <p></p>
                              
                                            <img src="{% static 'image/product-development.jpg' %}" alt="Testing Services">
                              
                                          </span>
                              
                                          <h5>Testing Services</h5>
                              
                                          <font>Read More</font>
                              
                                        </a>
                                      </div>
                                  </div>
                                  <div class="col-md-3 mb-3">
                                      <div class="card">
                                          <a href="" data-toggle="modal" data-target="#mobileapp-development" tabindex="-1">
      
                                              <span>
                                  
                                                <p></p>
                                  
                                                <img src="{% static 'image/mobileapp-development.jpg' %}" alt="Testing Services">
                                  
                                              </span>
                                  
                                              <h5>Mobile App Development</h5>
                                  
                                              <font>Read More</font>
                                  
                                            </a>
                                      </div>
                                  </div>
      
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
  </section>


  <section id="about us">
    <div class="aboutus-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr-lg-5">
                    <span>
                        <h2 class="page-headings">About Us</h2>
                        <p>Founded in 2022, We are a group of enthusiastic people with an agile and adaptive mindset to
    
                            help our customers to grow along with us. We are passionate about serving our customers with
          
                            our expertise in new-age technologies, futuristic ideas and innovative strategies.</p>
                            <h4>Our services portfolio includes</h4>
                            <ul>
    
                                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <a href="#popup1" data-toggle="modal" data-target="#digital-transformation">Digital Transformation</a></li>
              
                                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <a href="#popup2" data-toggle="modal" data-target="#enabling-startups">Enabling Start Ups</a></li>
              
                                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <a href="#popup3" data-toggle="modal" data-target="#agile-transformation">Agile Transformation</a></li>
              
                                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <a href="#popup4" data-toggle="modal" data-target="#hire-developer">Hire a Developer</a></li>
              
                                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <a href="#popup5" data-toggle="modal" data-target="#it-outsourcing">IT Outsourcing</a></li>
              
                                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <a href="#popup6" data-toggle="modal" data-target="#digital-marketing">Digital Marketing</a></li>
              
                                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <a href="#popup7" data-toggle="modal" data-target="#testing-services">Testing Services</a></li>
              
                              </ul>
                    </span>
                </div>
                <div class="col-lg-6 ">
    
                    <img src="{% static 'image/welcome-image.jpg' %}" alt="welcome">
      
                  </div>
            </div>
        </div>
    </div>
    </section>
    
    
    <div id="popup1" class="overlay">
      <div class="popup">
        <div class="model-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Digital Transformation</h5>
        </div>
        <a class="close" href="#">&times;</a>
        <div class="modal-body service-modal-style">
          <h4 class="mt-0">Digital Transformation With Podio : A Blueprint For Success</h4>
          <ul>
            <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> In digital transformation we use digital technologies to fundamentally change how businesses operate and deliver value to their customers.</li>
            <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> We integrate digital technologies into all aspects of an organization, leading to a
    fundamental shift in how the organisation conducts its operations, serves its
    customers, and creates value.</li>
          </ul>
    
          <h4>Podio is one of the finest tools we use for digital transformation.</h4>
          <ul>
            <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> We collaborate with corporations, crafting CRM systems, automating marketing
    processes, optimizing workflows, delivering project management solutions, that
    help you to achieve higher levels of productivity and success.</li>
          </ul>
    
        </div>
        </div>
        
      </div>
    </div>    
    <div id="popup2" class="overlay">
      <div class="popup">
        <div class="modal-content service-modal-style">
    
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Enabling Start Ups</h5>
          </div>
          <a class="close" href="#">&times;</a>
          <div class="modal-body">
    
            <ul>
              <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> We offer end-to-end software product development services that are tailored to your specific needs.</li>
              <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> We have the expertise and resources to help you take your product from concept to launch.</li>
              <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> We follow the agile way of working to understand your amazing idea and break it to smallest possible pieces of work and implement in an iterative way.</li>
            </ul>
    
          </div>
    
    
    
        </div>
      </div>
    </div>
    
    <div id="popup3" class="overlay">
      <div class="popup">
        <div class="modal-content">
    
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Agile Transformation Service for Business Agility</h5>
          </div>
          <a class="close" href="#">&times;</a>
          <div class="modal-body service-modal-style">
    
            <h4 class="mt-0">Unleash Agility: Shaping the Path to Resilient Organizations</h4>
            <ul>
              <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> We envision a world where Agile values and principles are deeply ingrained in the DNA of organizations, fostering a culture of continuous improvement, innovation and customer focus.</li>
              <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> The ultimate goal of fostering a culture of agility and adaptability within organizations, which can lead to sustained success and resilience in the face of uncertainty.</li>
              <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> We transform not only the IT industry into Agile, but also other industries like manufacturing, Construction, Education, Finance or Media.</li>
            </ul>
    
            <h4>Features:</h4>
            <ul>
              <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i>  Agile ways of working - Introduction</li>
              <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> Understanding existing business</li>
              <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> Agile Coaching</li>
              <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> Customized Agile Implementation</li>
            </ul>
          </div>
    
        </div>
      </div>  
    </div>
    <div id="popup4" class="overlay">
      <div class="popup">
        <div class="modal-content">
    
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Hire a Developer</h5>
          </div>
          <a class="close" href="#">&times;</a>
          <div class="modal-body service-modal-style">
    
            <p>Looking for dedicated web and mobile developers on hourly or monthly contracts ?. Elayne
    
              works with global companies ranging from startups, mid-size companies and helps them
    
              achieve their business goals by providing highly talented IT professionals / developers with core
    
              expertise in multiple technologies and platforms. Whether you are looking to hire a dedicated
    
              developer on full-time or part-time basis, we provide certified web &amp; mobile programmers to fit in
    
              with your specific project needs.</p>
    
          </div>
    
        </div>
      </div>  
    </div>
    <div id="popup5" class="overlay">
      <div class="popup">
       <div class="modal-content">
    
         <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">IT Outsourcing</h5>
      </div>
      <a class="close" href="#">&times;</a>
      <div class="modal-body service-modal-style">
    
       <h4 class="mt-0">Onboard Skilled IT Experts For Your Team</h4>
       <ul>
        <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> Is your company seeking IT professionals who can drive innovation and lead your projects to success?</li>
        <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> Look no further! We specialize in connecting organizations with exceptional IT professionals to help you achieve your technology goals.</li>
       </ul>
    
       <h4>Features:</h4>
    
       <ul>
        <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <b>IT Staffing Solutions</b>: Whether you need short-term contractors, permanent hires, or project-specific teams, we have the right professionals to match your needs.</li>
        <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <b>Skilled IT Experts</b>: Our extensive network includes experts in various IT domains, including software development, network administration, cybersecurity, data analysis, and more.</li>
       </ul>
    
      </div>
    
    </div>
    </div>
    </div>
    <div id="popup6" class="overlay">
      <div class="popup">
        <div class="modal-content">
    
          <div class="modal-header">
    
            <h5 class="modal-title" id="exampleModalLongTitle">Digital Marketing</h5>
    
          </div>
          <a class="close" href="#">&times;</a>
          <div class="modal-body service-modal-style">
              <h4 class="mt-0">Elevate Your Online Presence!!</h4>
              <ul>
                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> Are you ready to take your brand to new heights and capture the digital landscape ?</li>
                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> Look no further! Elayne Digital is your partner in achieving digital marketing success.</li>
              </ul>
    
              <h4>Features:</h4>
              <ul>
                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <b>Social Media Marketing</b> – Harness the power of social media platforms with engaging content, compelling ads and audience growth strategies.</li>
                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <b>Branding</b> – Making your mark in the heart of the target audience.</li>
                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <b>Lead Generation</b> – We find and nurture high quality leads.</li>
                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <b>Google Adwords</b> - Words or phrases relevant to your products and service, which are used to show your ads when customers search for those terms or visit relevant websites.</li>
                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <b>SEO</b> – Dominate search engine ranking, drive organic traffic and outshine your competition.</li>
                <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> <b>Redesign Of Websites</b> - Redesigning existing website help to increase the user interactions and better conversion rates.</li>
              </ul>
          </div>
    
        </div>
      </div>
    </div>
    <div id="popup7" class="overlay">
      <div class="popup">
    <div class="modal-content">
    
      <div class="modal-header">
    
        <h5 class="modal-title" id="exampleModalLongTitle">Testing Services</h5>
    
      </div>
      <a class="close" href="#">&times;</a>
      <div class="modal-body service-modal-style">
    
        <ul>
          <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> Our primary focus on testing is closely tied to the goal of delivering software that not only functions correctly but also provides a positive user experience and adds value to the organization and its clients.</li>
          <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> Our Quality Assurance Team ensures the success of software projects by identifying issues early in the development process and by providing valuable feedback to improve software quality.</li>
          <li><i class="fas fa-check"><img src="{% static 'image/icons8-correct-26.png' %}"></i> We promise delivery of high-quality services that meet customer needs, are secure, and comply with industry standards.</li>
        </ul>
    
      </div>
    
    </div>
    </div>
    </div>   

    <section class="testimonials" id="testimonials">

      <div class="container">
         <h2 class="page-headings aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">Testimonials</h2>
         
  
            <div class="testimonials-item">
  
              <span>
  
              <img src="{% static 'image/icons8-contact-96.png' %}">
  
              </span>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
              <div class="carousel-item active">
                <p>
    
                  The digital world is changing and Elayne took our digital presences to a whole new level. They act
  
                  immediately, give Quick response and timely service. Very satisfied with their service.
  
                </p>
  
                <h6><strong>
  
                    Alpha design studio
  
                  </strong>
  
                </h6>
              </div>
              {% for i in test_model %}
            <div class="carousel-item">
             <p>{{i.paragraph}}</p>
             <h6><strong>
            {{i.name}}
            </strong>
          </h6>
            </div>
            {% endfor %}
            
            </div>
            </div>
  
  
          </div>
       
    </div>
  </section> 

  <section id="contactus" class="contactus-page contact-bg">

    <div class="container">

      <h2 class="page-headings aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">Contact Us</h2>

      <div class="row justify-content-center">

        <div class="col-lg-4 col-md-8 aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">

          <div class="address-wrap">

            <div class="row">

              <div class="col-lg-3 col-md-2 col-sm-2 col-3"><i class="fas fa-thumbtack"><img src="{% static 'image/icons8-pin-48.png' %}"></i></div>

              <div class="col-lg-9 col-md-10 col-sm-10 col-9">

                <h6>Address</h6>

                <p>Address- ARA 97B,<br>

                  Vazhakkala, Kochi-21</p>

              </div>

            </div>

            <hr>

            <div class="row">

              <div class="col-lg-3 col-md-2 col-sm-2 col-3"><i class="fas fa-phone"><img src="{% static 'image/icons8-phone-48.png' %}"></i></div>

              <div class="col-lg-9 col-md-10 col-sm-10 col-9">

                <h6>Phone</h6>

                <p><a href="tel:+917012707281">+91 70127 07281</a></p>

              </div>

            </div>

            <hr>

            <div class="row">

              <div class="col-lg-3 col-md-2 col-sm-2 col-3"><i class="far fa-envelope-open"><img src="{% static 'image/icons8-open-envelope-48.png' %}"></i></div>

              <div class="col-lg-9 col-md-10 col-sm-10 col-9">

                <h6>Email</h6>

                <p><a href="mailto:info@elaynedigital.com">info@elaynedigital.com</a></p>

              </div>

            </div>



            <a href="" target="_blank" class="download-brochure">Download Brochure</a>

          </div>

        </div>



        <div class="col-lg-8 aos-init aos-animate" data-aos="fade-left" data-aos-delay="200">

          <h4>SEND US A MESSAGE</h4>

          <p>Have questions? Don’t hesitate to contact us for any information.</p>

          <form id="form_id" method="POST" action="{% url 'index' %}"> {% csrf_token %}

            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" value="03AFcWeA6bEFkTSWafwq8wDAAcQFGdZDk9FhPDqUJQGHmmjZk-O16n6E68bOsKOsR5-o8Twwy3sUgquyvdavgCWld45s8GyROpm3RT_fFXXvZVMlJoC3ryke3OL6HRgFYUBrbowaJw0j-ke8XfOwAikldaFA1YL6dMcK0JxHxD5DnczlGuIKvEmTCwSnqgAM_lGcc8N5N2Rpd1Qu3U6qVwDDBxTBZ2bFklY7l0f8ghA8EWSVx4B0VaOlOMK_FgSiAEZqZQMko4VP-fy5X_AJ587yxkueUcTNxBqL5SkFnmHC0y_8TuJnfC03qrPSPyEjrgGwZnOKUrg09eao8MpjQ43b-3WrdC_112wFqylgEHSkiTWOcfahTCUqUw2yXRy6AhAnxeeq6awq4ZB1QkoEJlsnqC77ZKNaNbzdDNcCQ8hFmtbJDn2M2i-p53TyTk5-rmXxhrM3v4Mo5Ww07WyvrZhZY8HrkbR1z0Fm1n1a2wzkWUNh3UX63jUXdQRdmQcyTlzscZUAFUn_hN1g0ySi1skcOSWhWASIfbiUlP6ZxBRjFVo_Ed36fiSJym2y7yd-6y1RvGTyhRUdrmeh5Ew21Z7XTA-bWeREFXDwcbSAsoPlgTasaiavbGbpkQMy8C7yaxzSXaMUSwCipFkSt616W-ou9mqNMHdcNZaw">

            <input type="hidden" name="action" value="validate_captcha">

            <div class="row justify-content-center">

              <div class="col-lg-6 col-md-6"><input type="text" name="contact_name" class="form-control" placeholder="Your Name" required="">

              </div>

              <div class="col-lg-6 col-md-6"><input type="email" name="contact_email" class="form-control" placeholder="Email" required="">

              </div>

              <div class="col-lg-6 col-md-6"><input type="text" name="contact_phone" class="form-control" placeholder="Phone" required="">

              </div>

              <div class="col-lg-6 col-md-6"><input type="text" name="contact_subject" class="form-control" placeholder="Subject" required="">

              </div>

              <div class="col-lg-12"><textarea name="contact_message" id="" cols="30" class="form-control" rows="10" placeholder="Message" required=""></textarea></div>

              <div class="col-lg-4 col-md-4" name="save"><button>Submit</button></div>

            </div>

          </form>

        </div>



        <div class="col-lg-12 aos-init" data-aos="fade-up" data-aos-delay="50">

          <div class="google-maps">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.1894981137507!2d76.30352957387407!3d10.001200456640062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d0bd455b717%3A0x2cd791ee463cf642!2sPalarivattom%2C%20Kochi%2C%20Kerala!5e0!3m2!1sen!2sin!4v1666416437586!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          </div>

        </div>

      </div>

    </div>









    <div id="sucessModal" class="modal fade" role="dialog">

      <div class="modal-dialog">



        <div class="modal-content popup-modals">

          <img src="{% static 'image/sucess.gif' %}" alt="Sucess">

          <h2>Thank you for your Enquiry</h2>

          <h4>We will be in touch soon</h4>



        </div>



      </div>

    </div>



    <div class="footer-credentials">

      <div class="container">

        <p>© 2022 www.elaynedigital.com. All rights reserved</p>

      </div>

    </div>

  </section>
  
     









    <script>
      document.addEventListener('DOMContentLoaded', function () {
          var testimonialItems = document.querySelectorAll('.testimonials-item');
          testimonialItems.forEach(function (item) {
              item.classList.add('show');
          });
      });
  </script>

        <script>
          function nextCarouselItem() {
              // Get the carousel element
              var carousel = document.getElementById("carouselExampleIndicators2");
        
              // Get the index of the currently active item
              var currentIndex = Array.from(carousel.querySelectorAll('.carousel-item')).indexOf(carousel.querySelector('.carousel-item.active'));
        
              // Calculate the index of the next item
              var nextIndex = (currentIndex + 1) % carousel.querySelectorAll('.carousel-item').length;
        
              // Remove the 'active' class from the currently active item
              carousel.querySelector('.carousel-item.active').classList.remove('active');
        
              // Add the 'active' class to the next item
              carousel.querySelectorAll('.carousel-item')[nextIndex].classList.add('active');
          }
        </script>
        
        <!-- Add this script after the previous script or the closing </section> tag -->
        <script>
            function prevCarouselItem() {
                // Get the carousel element
                var carousel = document.getElementById("carouselExampleIndicators2");
        
                // Get the index of the currently active item
                var currentIndex = Array.from(carousel.querySelectorAll('.carousel-item')).indexOf(carousel.querySelector('.carousel-item.active'));
        
                // Calculate the index of the previous item
                var prevIndex = (currentIndex - 1 + carousel.querySelectorAll('.carousel-item').length) % carousel.querySelectorAll('.carousel-item').length;
        
                // Remove the 'active' class from the currently active item
                carousel.querySelector('.carousel-item.active').classList.remove('active');
        
                // Add the 'active' class to the previous item
                carousel.querySelectorAll('.carousel-item')[prevIndex].classList.add('active');
            }
        </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
    </body>
  </html>   
        




















